[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift/
After=display-manager.service

[Service]
ExecStart=/home/matt/local/bin/redshift
Restart=always

[Install]
WantedBy=default.target
